*.pyc
*.o
*.so
*~
python/build
lib/test
doc/_build
python/test-graph.fa.out
python/test-trunc.out
python/test-data/random-20-a.fa.out
python/test-data/random-20-b.fa.out
python/test-data/random-31-c.fa.out
