Michael R. Crusoe <mcrusoe@msu.edu>
Michael R. Crusoe <mcrusoe@msu.edu> <michael.crusoe@gmail.com>
Michael R. Crusoe <mcrusoe@msu.edu> <mcruseo@msu.edu>
Michael R. Crusoe <mcrusoe@msu.edu> <mcrusoe@athyra.(none)>
Camille Scott <camille.scott.w@gmail.com> <cs.welcher@gmail.com>
Tamer Mansour <drtamermansour@gmail.com>
Rhys Kidd <rhyskidd@gmail.com>
Susan Steinman <steinman.tutoring@gmail.com>
Adina Howe <howead@msu.edu>
Elmar Bucher <buchere@ohsu.edu> <elmbeech@zoho.com>
Luiz Irber <luiz.irber@gmail.com> <luizirber@users.noreply.github.com>
Luiz Irber <luiz.irber@gmail.com> <irberlui@msu.edu> 
Qingpeng Zhang <qingpeng@msu.edu> <qingpeng@gmail.com>
Reed Cartwright <cartwright@asu.edu>
Reed Cartwright <cartwright@asu.edu> <reed@cartwrig.ht>
Jake Fenton <bocajnotnef@gmail.com>
Michael Wright <wrigh517@gmail.com> <narrows@13-67-33.client.wireless.msu.edu>
Eric McDonald <em@msu.edu> <emcd.msu@gmail.com>
Jared Simpson <js18@sanger.ac.uk> <jared.simpson@gmail.com>
Benjamin Taylor <taylo886@msu.edu> <taylo886@cse.msu.edu>
Kaben Nanlohy <kaben.nanlohy@gmail.com> <kaben@idyll.org>
Ramakrishnan Rajaram Srinivasan <ramrs@nyu.edu>
Rodney Picett <pickett.rodney@gmail.com>
Sarah Guermond <sarah.guermond@gmail.com> <sguermond@users.noreply.github.com>
Sarah Guermond <sarah.guermond@gmail.com> <s.guermond@gmail.com>
Hussien Alameldin <hussien@msu.edu> <hussienfotoh@gmail.com>
Brian Wyss <wyssbria@msu.edu>
Heather L. Wiencko <wienckhl@tcd.ie> <timiat@yahoo.com>
Jiarong Guo <guojiaro@gmail.com>
Josiah Seaman <josiah@dnaskittle.com> <josiah.seaman@gmail.com>
Leonor Garcia-Gutierrez <l.garcia-gutierrez@warwick.ac.uk>
Ryan R. Boyce <boycerya@msu.edu>
en zyme <en_zyme@outlook.com> <enzyme@bu.edu>
Scott Sievert <sieve121@umn.edu>
