Michael R. Crusoe <mcrusoe@msu.edu>
Michael R. Crusoe <mcrusoe@msu.edu> <michael.crusoe@gmail.com>
Michael R. Crusoe <mcrusoe@msu.edu> <mcruseo@msu.edu>
Michael R. Crusoe <mcrusoe@msu.edu> <mcrusoe@athyra.(none)>
Camille Scott <camille.scott.w@gmail.com> <cs.welcher@gmail.com>
Tamer Mansour <drtamermansour@gmail.com>
Rhys Kidd <rhyskidd@gmail.com>
Susan Steinman <susan.steinman@gmail.com> <steinman.tutoring@gmail.com>
Adina Howe <adina@iastate.edu> <howead@msu.edu>
Elmar Bucher <buchere@ohsu.edu> <elmbeech@zoho.com>
Luiz Irber <luiz.irber@gmail.com> <luizirber@users.noreply.github.com>
Luiz Irber <luiz.irber@gmail.com> <irberlui@msu.edu> 
Qingpeng Zhang <qingpeng@gmail.com> <qingpeng@msu.edu>
Reed Cartwright <cartwright@asu.edu>
Reed Cartwright <cartwright@asu.edu> <reed@cartwrig.ht>
Jake Fenton <bocajnotnef@gmail.com>
Michael Wright <wrigh517@gmail.com> <narrows@13-67-33.client.wireless.msu.edu>
Eric McDonald <em@msu.edu> <emcd.msu@gmail.com>
Jared Simpson <js18@sanger.ac.uk> <jared.simpson@gmail.com>
Benjamin Taylor <taylo886@msu.edu> <taylo886@cse.msu.edu>
Kaben Nanlohy <kaben.nanlohy@gmail.com> <kaben@idyll.org>
Ramakrishnan Srinivasan <ramrs@nyu.edu>
Rodney Picett <pickett.rodney@gmail.com>
Sarah Guermond <sarah.guermond@gmail.com> <sguermond@users.noreply.github.com>
Sarah Guermond <sarah.guermond@gmail.com> <s.guermond@gmail.com>
Hussien F. Alameldin <hussien@msu.edu> <hussienfotoh@gmail.com>
Brian Wyss <wyssbria@msu.edu>
Heather L. Wiencko <wienckhl@tcd.ie> <timiat@yahoo.com>
Jiarong Guo <guojiaro@gmail.com>
Josiah Seaman <josiah@dnaskittle.com> <josiah.seaman@gmail.com>
Leonor Garcia-Gutierrez <l.garcia-gutierrez@warwick.ac.uk>
Ryan R. Boyce <boycerya@msu.edu>
en zyme <en_zyme@outlook.com> <enzyme@bu.edu>
Scott Sievert <sieve121@umn.edu>
Joshua R. Nahum <joshnahum@gmail.com>
Jonathan Gluck <jdg@cs.umd.edu> <jonathangluck08854@gmail.com>
Joshua R. Herr <joshua.r.herr@gmail.com>
Bede Constantinides <bede.constantinides@manchester.ac.uk> <bedeabc@gmail.com>
Kevin D. Murray <kevin.murray@anu.edu.au> <spam@kdmurray.id.au>
James A. Stapleton <jas@msu.edu>
Scott Fay <scott.a.fay@gmail.com> <scott.fay@invitae.com>
Iván González <igonzalez@mailaps.org> <iglpdc@gmail.com>
Sherine Awad <drmahmoud@ucdavis.edu> <sherine.awad@gmail.com>
Alexander Johan Nederbragt <lex.nederbragt@ibv.uio.no>
Charles Pepe-Ranney <chuck.peperanney@gmail.com>
