include ChangeLog Doxyfile ez_setup.py IDEAS Makefile README.rst setup.cfg versioneer.py MANIFEST.in
graft examples
recursive-include lib *.hh *.cc *.1 *.xsl README* sample* words* *.sh *.c
recursive-include lib manual* [Mm]akefile* *.pl *.dsp CHANGES *.txt *.h *.xsl
recursive-include lib ChangeLog FAQ INDEX configure 
graft doc
prune doc/doxygen
graft data
exclude data/1m-filtered.fa
graft tests

